// ----------------------------------------------------Common Variables---------------------------------------------//
$primary: #002bdc;
$secondary: #111111;
$tertiary: #000;
$success: #31a24c;
$danger: #cf0d1e;
$warning: #ffc107;
$info: #0dcaf0;
$light: #f8f9fa;
$dark: #212529;
$border-color: #ddd;
$body-color: #666;
$muted: #7d7d7d;
$box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
$trans: transparent;
// ----------------------------------------------------Dark Versions----------------------------------------------//
$primary-dark: darken(
    $color: $primary,
    $amount: 10%
);
$secondary-dark: darken(
    $color: $secondary,
    $amount: 10%
);
$tertiary-dark: darken(
    $color: $tertiary,
    $amount: 10%
);
// ----------------------------------------------------Light Versions---------------------------------------------//
$primary-light: rgba(
    $color: $primary,
    $alpha: 0.1
);
$secondary-light: rgba(
    $color: $secondary,
    $alpha: 0.1
);
$tertiary-light: rgba(
    $color: $tertiary,
    $alpha: 0.1
);
// ----------------------------------------------------Other Colors----------------------------------------------//
$color1: #d9534f;
$color2: #5cb85c;
$color4: #373535;
$color5: #5cb85c;
$blue: #090979;
$red: #cf0d1e;
$yellow: #f2c200;
$green: #5cb85c !default;
// ----------------------------------------------------Social Media Shades---------------------------------------//
$google: #dc4d23;
$facebook: #3d5da5;
$twitter: #1c99e6;
$instagram: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
$linkedin: #2362aa;
$youtube: #f10002;
$pinterest: #e10015;
$behance: #0053f2;
// ----------------------------------------------------Text Colors------------------------------------------------//
$txt1: #151442;
$txt2: #342b42;
$txt3: #454545;
$text4: #ccc;
// ----------------------------------------------------White Shades----------------------------------------------//
$white: #fff !default;
$white9: #f9f9f9;
$white8: #f8f8f8;
$white7: #f7f7f7;
$white6: #f6f6f6;
$white5: #f5f5f5;
$white4: #f4f4f4;
$white3: #f3f3f3;
$white2: #f2f2f2;
$white1: #f1f1f1;

// ----------------------------------------------------Black Shades----------------------------------------------//
$black: #000 !default;
$black1: #111;
$black2: #222;
$black3: #333;
$black4: #444;
$black5: #555;
$black6: #666;
$black7: #777;
$black8: #888;
$black9: #999;
// ----------------------------------------------------Other Shades----------------------------------------------//
$red: #d9534f !default;
$orange: #f0ad4e !default;
$yellow: #ffd500 !default;
$green: #5cb85c !default;
$gray-dark: #292b2c !default;
$gray1: #707070 !default;
$gray2: #636c72 !default;
$gray3: #7d7d7d !default;
$gray5: #f7f7f9 !default;
$grey4: #f9f9f9;
// --------------------------------------------------------Height-----------------------------------------------//
$height-xxs: 20px;
$height-xs: 30px;
$height-sm: 40px;
$height-default: 50px;
$height-lg: 60px;
$height-xl: 80px;
$height-xxl: 100px;
$height-xxxl: 150px;
// ----------------------------------------------------Text-----------------------------------------------------//
$h1: 110px;
$h2: 72px !important;
$h3: 28px;
$h4: 24px;
$h5: 20px;
$h6: 18px;
$p: 24px;

$fs-10: 10px;
$fs-12: 12px;
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-24: 24px;
$fs-30: 30px;
// Not created
$fs-36: 36px;
$fs-40: 40px;
$fs-48: 48px;
$fs-56: 56px;
$fs-64: 64px;
$fs-72: 72px;
$fs-80: 80px;
$fs-90: 90px;
$fs-100: 100px;
// ----------------------------------------------------Line Height-----------------------------------------------//
$line-height-sm: 1;
$line-height-sm: 1.2;
$line-height: 1.5;
$line-height-lg: 1.8;
$line-height-xl: 2;
// -------------------------------------------------------Font--------------------------------------------------//
$akkurat: "Akkurat";
$ivymode: "IvyMode";
// ----------------------------------------------------Padding--------------------------------------------------//
$pad-sm: 10px;
$pad-default: 20px;
$pad-md: 30px;
$pad-lg: 40px;
$pad-xl: 50px;
$pad-xxl: 60px;
$btn-pad: 0 30px;
$btn-pad-md: 5px 15px;
// ------------------------------------------------------Border Radius------------------------------------------//
$b-rds-xs: 0px;
$b-rds: 0px;
$b-rds-md: 0px;
$b-rds-lg: 0px;
$b-rds-xl: 0px;
$b-rds-xxl: 0px;
$b-rds-xxxl: 0px;
$form-rds: 0px;
$form-rds-lg: 0px;
