// General
@import "common-classes";
@import "mixins";
@import "responsive";
@import "variables";

// Components
@import "components/accordion";
@import "components/button";
@import "components/colors";
@import "components/height";
@import "components/image";
@import "components/links";
@import "components/list";
@import "components/margin";
@import "components/navbar";
@import "components/padding";
@import "components/sidebar";
@import "components/size";
@import "components/text";
@import "components/form-control";
@import "components/other";
@import "components/bg-image";
@import "components/navs";

// Custom Components
@import "custom-components/custom";

// ----------------------------------------------------Common Classes-----------------------------------------------------//
html {
    scroll-behavior: smooth;
}

body {
    @include body;
    font-size: 24px;
    font-family: $akkurat;
    transition: all 0.5s ease-out;
}

.nopad {
    @include nopad;
}

.flex-center {
    @include flex-hv-cntr;
}

.align-cntr {
    @include align-cntr;
}
@font-face {
    font-family: "Akkurat";
    font-weight: 400;
    src: url("../fonts/Akkurat.ttf");
}
@font-face {
    font-family: "Akkurat";
    font-weight: 300;
    src: url("../fonts/Akkurat_Light.ttf");
}
@font-face {
    font-family: "Akkurat";
    font-weight: 700;
    src: url("../fonts/Akkurat_Bold.ttf");
}
@font-face {
    font-family: "IvyMode";
    font-weight: 400;
    src: url("../fonts/IvyMode_Regular.ttf");
}
