// -------------------------------------------------------------------Accordion--------------------------------------------------------------------//
.accordion-button,
.accordion-button:not(.collapsed) {
    &::after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23111' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e") !important;
    }
}
.accordion-button:not(.collapsed) {
    &::after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23002bdc' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e") !important;
    }
}
.accordion-button {
    padding: 50px 0 !important;
    font-size: 50px !important;
    font-family: $ivymode;
    font-weight: 400;
    span {
        font-family: $ivymode;
    }
}
.accordion-button:not(.collapsed) {
    color: $primary !important;
    background-color: $white !important;
    box-shadow: none !important;
}
.accordion-item {
    border-left: 0 !important;
    border-top: 0 !important;
    border-right: 0 !important;
    border-bottom: 2px solid $border-color !important;
    &:first-child {
        border-top: 2px solid $border-color !important;
    }
}
