// ----------------------------------------------------Nav or Pills-----------------------------------------------------//
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background: $primary;
    color: $white;
}
.nav-pills {
    .nav-link {
        color: $primary;
        background: $white;
        border-radius: $b-rds;
    }
}
.tab-content {
    background-color: $white;
    padding: 30px;
    border-radius: $b-rds-xs;
    width: 100%;
    border: none !important;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: $black;
    border: none !important;
}
.nav-tabs .nav-link {
    border: 0 !important;
    border-top-left-radius: $b-rds;
    border-top-right-radius: $b-rds;
}
.nav-tabs {
    border: none !important;
}
