@import "../mixins";
@import "../variables";
// ------------------------------------------------------------Header-------------------------------------------//
.nb {
    z-index: 11;
    background-color: $white;
    height: 100px;
    position: fixed !important;
    width: 100%;
    left: 0;
    top: 0;

    &--scrolled {
        height: 40px;
    }
}
.banner {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    h1 {
        font-size: 150px;
        line-height: 200px;
        span {
            font-family: $ivymode;
        }
    }
}
// ------------------------------------------------------------About-------------------------------------------//
.about-brief {
    position: relative;
    .left-panel {
        background-color: $secondary;
        padding: 100px 250px 100px 100px;
        p {
            font-size: 30px !important;
            color: $white;
            font-weight: 300;
            line-height: 60px;
        }
        .a-animate {
            &::after {
                background-color: $white;
            }
        }
    }
    .social-links {
        width: 100%;
        display: flex;
        justify-content: right;
        padding-right: 100px;
        padding-bottom: 50px;
        .gap-lr-25 {
            margin: 0 25px;
        }
        .link-social {
            @include circle(70px, 70px);
            border: 1px solid $trans;
            background-color: $white;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
            &:hover,
            &:active,
            &:focus {
                background-color: $primary;
                border: 1px solid $trans;
                svg {
                    fill: $white;
                }
            }
        }
        .link-animate {
            transition: 0.2s 0.1s;
            position: relative;
            overflow: hidden;
            background-color: $white;
            svg {
                position: relative;
                display: inline-block;
                top: 0;
                left: 0;
                width: 100%;
                transition: 0.3s;
                width: 28px;
            }
            &:active,
            &:hover,
            &:focus {
                outline: 0 !important;
                outline-offset: 0;
                background-color: $primary;
            }
            &::before,
            &::after {
                position: absolute;
                content: "";
            }
            &::before {
                background-color: $white;
                transition: 0.5s ease-out;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
            }
            &:hover::before {
                height: 0%;
            }
        }
    }

    .img-container {
        justify-content: right;
        box-shadow: -2rem 2rem $primary;
        img {
            &:hover {
                filter: grayscale(100%);
                transition: 1s;
            }
        }
    }
    .right-panel {
        display: flex;
        position: relative;
        flex-wrap: wrap;
        height: 100%;
        width: 150%;
        margin-left: -50%;
        .position-div {
            position: absolute;
            right: 0;
            bottom: -100px;
        }
    }
    .img-shadow {
        background-color: $primary;
        margin-left: -46px;
        margin-bottom: -46px;
        width: 100%;
        height: 600px;
        display: none;
    }
    .know-more-section {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        margin-top: 50px;
        justify-content: right;
        a {
            font-size: 30px;
            color: $white;
            text-decoration: none;
            justify-content: right;
            &:hover,
            &:active,
            &:focus {
                text-decoration: none;
            }
        }
        span {
            margin-left: 30px;
        }
        .underline-div {
            width: 100%;
            height: 2px;
            background-color: $color4;
            margin-top: 25px;
        }
    }
}
// ------------------------------------------------------------Services-------------------------------------------//
.services {
    padding: 150px 0;
    .service-link {
        text-decoration: none;
        display: flex;
        height: 100%;
        transition: all 1s ease-out;
        .card-section {
            transition: all 0.5s ease-out;
        }
        p,
        h6 {
            transition: all 1s ease-out;
        }
        .text-portion {
            transition: all 1s ease-in-out;
        }
        &:hover,
        &:active,
        &:focus {
            transition: all 1s ease-out;
            outline: 0;
            p,
            h6 {
                color: $white;
                position: relative;
                z-index: 1;
                transition: all 1s ease-out;
            }
            .card-section {
                position: relative;
                background-color: $primary;
                transition: all 1s ease-in-out;
                overflow: hidden;
                svg path {
                    fill: darken($color: $primary, $amount: 30%);
                }

                .text-portion {
                    transition: all 1s ease-in-out;
                }
                svg {
                    width: 70%;
                    opacity: 0.5;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transition: all 0.7s ease-out;
                }
            }
        }
    }
}

//------------------------------------------------------------Manifesto-------------------------------------------//
.manifesto {
    padding: 150px 0;
    background-color: $secondary;
    h2 {
        color: $white;
    }
}

//------------------------------------------------------------Text Banner-------------------------------------------//
.text-banner {
    width: 100vw;
    // height: 100vw;
    background-color: $white;
    @include flex-hv-cntr;
    .content {
        padding: 300px 200px;
        h6 {
            @include text(40px, 56px, 700, $black);
            margin-bottom: 50px;
            font-family: $akkurat;
            text-align: center;
        }
        p {
            @include text(30px, 60px, 400, $black);
            margin-bottom: 50px;
            text-align: center;
        }
    }
}
//------------------------------------------------------------My Process-------------------------------------------//
.process {
    .left-panel {
        position: relative;
        background-color: $secondary;
        padding: 100px 250px 100px 100px;
    }
    h2 {
        color: $white;
    }
    a {
        @include text(40px, 40px, 400, $gray3);
        margin-bottom: 50px;
        text-decoration: none;
        transition: all 1s ease-out;
        @extend .flex-v-cntr;
        .flex-container {
            transition: all 1s ease-out;
        }
        svg {
            display: none;
            margin-right: 20px;
            width: 20px;
            transition: all 1s ease-out;
        }
        .icon {
            display: flex;
            align-items: center;
            transition: all 1s ease-out;
        }
        p {
            @include text(40px, 40px, 300, $gray3);
            transition: all 1s ease-out;
        }
        &:hover,
        &:active,
        &:focus {
            transition: all 1s ease-out;
            svg {
                display: block;
                transition: all 1s ease-out;
            }
            p {
                color: $white;
                transition: all 1s ease-out;
            }
        }
    }
    .image-section {
        background-color: $white;
        width: 100%;
        height: 100%;
    }
    .img-container {
        justify-content: right;
        img {
            box-shadow: -2rem 2rem $primary;
        }
    }
    .right-panel {
        display: flex;
        position: relative;
        flex-wrap: wrap;
        width: -150%;
        margin-left: -50%;
        height: 100%;
        .position-div {
            position: absolute;
            right: 0;
            bottom: -100px;
        }
    }
    .img-shadow {
        background-color: $primary;
        margin-left: -46px;
        margin-bottom: -46px;
        width: 100%;
        height: 600px;
        display: none;
    }
}
//------------------------------------------------------------Domains-------------------------------------------//
.domains {
    padding: 150px 0;
}

//------------------------------------------------------------Works-------------------------------------------//
.works {
    background-color: $secondary;
    h2 {
        color: $white;
    }
    p {
        @include text(40px, 70px, 300, $white);
        margin-bottom: 50px;
    }
}

//------------------------------------------------------------Clients-------------------------------------------//
.clients {
    padding: 150px 0;

    p {
        @include text(40px, 70px, 300, $black);
        margin-bottom: 50px;
        text-align: right;
    }
    h2 {
        text-align: right;
    }
}
//------------------------------------------------------------Testimonials-------------------------------------------//
.testimonials {
    z-index: 11;
    position: relative;
    .auther-info {
        margin-top: 50px;
        text-align: right;
        .auther-name {
            font-family: $akkurat;
            @include text(40px, 40px, 400, $white);
            margin-bottom: 25px;
        }
        .auther-designation {
            @include text(30px, 40px, 300, $gray3);
        }
    }
    .navigation {
        width: 100%;
        position: absolute;
        bottom: 70px;
        padding: 0 100px;
        .left-div {
            width: 50%;
            float: left;
            transition: all 0.5s ease-out;
            a {
                float: left;
                transition: all 0.5s ease-out;
                svg {
                    transform: rotateY(180deg);
                    margin-right: 30px;
                    transition: all 0.5s ease-out;
                }
                &:hover,
                &:active,
                &:focus {
                    color: $white;
                    text-decoration: none;
                    transition: all 0.5s ease-out;
                    position: relative;
                    span {
                        @include circle(100px, $primary);
                        font-weight: 700 !important;
                        position: absolute;
                        left: 0px;
                        transition: all 0.5s ease-out;
                        svg {
                            margin: 0;
                            transition: all 0.5s ease-out;
                        }
                    }
                }
            }
        }
        .right-div {
            width: 50%;
            float: right;
            transition: all 0.5s ease-out;
            a {
                float: right;
                transition: all 0.5s ease-out;
                &:hover,
                &:active,
                &:focus {
                    color: $white;
                    text-decoration: none;
                    transition: all 0.5s ease-out;
                    position: relative;
                    span {
                        @include circle(100px, $primary);
                        font-weight: 700 !important;
                        position: absolute;
                        right: 0px;
                        transition: all 0.5s ease-out;
                        svg {
                            margin: 0;
                            transition: all 0.5s ease-out;
                        }
                    }
                }
            }
        }
    }
    .carousel-control-next,
    .carousel-control-prev {
        top: inherit;
    }
}
//------------------------------------------------------------Footer-------------------------------------------//
.footer {
    padding: 120px 0 0px 0;
    overflow: hidden;
    h3 {
        font-family: $akkurat;
        @include text(80px, 100px, 300, $black);
        margin-bottom: 50px;
    }
    .link-common {
        display: inline;
        span {
            display: inline;
        }
        svg {
            path {
                fill: $secondary;
            }
        }
        &:hover,
        &:active,
        &:focus {
            color: $primary;
            text-decoration: none;
            transition: all 0.5s ease-out;
            position: relative;
            span {
                @include circle(70px, $primary);
                right: -80px;
                top: -16px;
                svg {
                    path {
                        fill: $white;
                    }
                }
            }
        }
    }
    .contact-section {
        span {
            @include text(24px, 24px, 300, $black);
        }
        p {
            @include text(30px, 30px, 400, $black);
            margin-top: 20px;
        }
        a {
            display: inline-block;
            @include text(30px, 30px, 400, $primary);
            margin-top: 20px;
            text-decoration: none;
            &:hover,
            &:active,
            &:focus {
                text-decoration: none;
                transition: all 0.5s ease-out;
            }
        }
    }
    .form-secton {
        margin-bottom: 50px;
    }
    .footer-bottom {
        margin-bottom: 30px;
        p {
            @include text(24px, 24px, 300, $black);
            a {
                @include text(24px, 24px, 400, $primary);
                text-decoration: none;

                &:hover,
                &:active,
                &:focus {
                    text-decoration: none;
                    transition: all 0.5s ease-out;
                }
            }
        }
        .social-links {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            a {
                @include text(24px, 24px, 400, $primary);
                @include a-animate;
                margin-right: 20px;
                padding-bottom: 10px;
                text-decoration: none;
                &:hover,
                &:active,
                &:focus {
                    text-decoration: none;
                    transition: all 0.5s ease-out;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    textarea {
        margin-bottom: 50px;
    }
}
.a-pad {
    padding-bottom: 10px;
}
